@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background: #0b0c11;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 1rem;
        h1{
            color: #f9e5d3;
            text-transform: uppercase;
            letter-spacing: 6px;
            margin-bottom: 2rem;
        }
        ul{
            list-style: none;
            color: #fff;
            li{
                &:not(:last-of-type){
                    margin-bottom: 1rem;
                }
                text-align: center;
            }
        }
    }
    footer{
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .copy{
            color: #fff;
            display: flex;
            a{
                color: #fff;
                margin-left: 1rem;
            }
        }
    }
}